.lazyblock-services-ZDHeYl.wp-block-lazyblock-services {
  grid-template-columns: 3fr !important;

  .services-block {
    .flex.flex-col.justify-center.text-center {
      grid-column: 1 / 4 !important;
    }

    &>.services {
      grid-column: 3 !important;
      align-self: start;
    }

    .grid.grid-cols-1.justify-center.text-center.services {
      grid-column: auto !important;
    }
  }
}

/* Switches to 12 column grid */
@media screen and (min-width: 640px) {
  .lazyblock-services-ZDHeYl.wp-block-lazyblock-services {
    .services-block {
      .flex.flex-col.justify-center.text-center {
        grid-column: 1 / 13 !important;
      }

      &>.services {
        grid-column: 3 !important;
        align-self: start;
      }

      .grid.grid-cols-1.justify-center.text-center.services {
        grid-column: auto / span 3 !important;
      }
    }
  }

}

@media (min-width: 1024px) {
  .lazyblock-services-ZDHeYl.wp-block-lazyblock-services {
    .services {
      grid-column: 3 / span 12 !important;
    }

    .services-block {
      .flex.flex-col.justify-center.text-center {
        grid-column-start: 1 !important;
        grid-column-end: 13 !important;
      }

      .services {
        grid-column: auto / span 2 !important;
      }
    }
  }
}

@media (min-width: 1280px) {
  .lazyblock-services-ZDHeYl.wp-block-lazyblock-services {
    .services-block {
      .grid.grid-cols-1.justify-center.text-center.services {
        grid-column: auto / span 2 !important;
      }
    }
  }
}
