.block-editor__typewriter {
    @apply font-sans;
}

.editor-styles-wrapper {
    .block-editor-block-list__block.wp-block-lazyblock-services,
    .block-editor-block-list__block.wp-block-lazyblock-solutions {
        .lzb-gutenberg-repeater-items {
            display: flex !important;
            flex-wrap: wrap;
        
            .lzb-gutenberg-repeater-item {
                max-width: 23%;
                padding: 1rem;
                border: 1px solid magenta !important;
                border-radius: 6px;
                margin: .4rem;
            }
        
            .lzb-gutenberg-repeater-btn-arrow {
                display: none;
            }
        }
    }
}

.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content {
    padding-bottom: 0;
}

.lzb-gutenberg-repeater-item {
    .lzb-gutenberg-repeater-btn {
        padding-top: 0;
    }

    .lzb-gutenberg-repeater-btn-drag {
        top: 25%;
    }
}

.css-1t5ousf {
    margin: 0 !important;
}

.block-editor-block-list__block.wp-block-list-item .block-editor-rich-text__editable.rich-text{
    display: inline;
}