.alignwide-unset {
  margin-left: unset;
  margin-right: unset;
  margin-top: unset;
  margin-bottom: unset;
  max-width: inherit;
}

.service svg {
  max-width: 100%;
}

@media screen and (min-width: 600px) {

  .entry-content>.hero>.wp-block-media-text__content,
  .entry-content>.hero>.wp-block-media-text__media {
    grid-column: 1/span 6 !important;
  }
}

.contact-section {
  gap:80px;
}

.pretty-text {
    background-image: linear-gradient(to right, #FF00FF, #9E00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-number-list {
  list-style-type: number;
  
  li::marker {
    font-size: 24px;
    font-weight: bold;
  }

  li:nth-child(1)::marker {

    color: #FF0099;
    counter-increment: rainbow-counter;
  }

  li:nth-child(2)::marker {
    color: #FF00F5;
    counter-increment: rainbow-counter;
  }

  li:nth-child(3)::marker {
    color: #BD00FF;
    counter-increment: rainbow-counter;
  }

  li:nth-child(4)::marker {
    color: #000AFF;
    counter-increment: rainbow-counter;
  }

  li:nth-child(5)::marker {
    color: #0085FF;
    counter-increment: rainbow-counter;
  }
}

/* Gradient Options */
.gradient-1 {
  transition: all .2s ease-in-out !important;
}

.gradient-1:hover {
  background: linear-gradient(137deg, #C0F 8.29%, #F400F9 53.84%, #FF00D6 91.56%), #FFF;

  .text {
    @apply text-white;
  }
} 

.solution:hover {
  svg path {
    fill: white !important;
  }
}

