.alignwide-unset {
  margin-left: unset;
  margin-right: unset;
  margin-top: unset;
  margin-bottom: unset;
  max-width: inherit;
}

.service svg {
  max-width: 100%;
}

@media screen and (min-width: 600px) {

  .entry-content>.hero>.wp-block-media-text__content,
  .entry-content>.hero>.wp-block-media-text__media {
    grid-column: 1/span 6 !important;
  }
}

.contact-section {
  gap:80px;
}

.pretty-text {
    background-image: linear-gradient(to right, #FF00FF, #9E00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow-number-list {
  list-style-type: number;
  
  li::marker {
    font-size: 24px;
    font-weight: bold;
  }

  li:nth-child(1)::marker {

    color: #FF0099;
    counter-increment: rainbow-counter;
  }

  li:nth-child(2)::marker {
    color: #FF00F5;
    counter-increment: rainbow-counter;
  }

  li:nth-child(3)::marker {
    color: #BD00FF;
    counter-increment: rainbow-counter;
  }

  li:nth-child(4)::marker {
    color: #000AFF;
    counter-increment: rainbow-counter;
  }

  li:nth-child(5)::marker {
    color: #0085FF;
    counter-increment: rainbow-counter;
  }
}

/* Gradient Options */
.gradient-1 {
  transition: all .2s ease-in-out !important;
}

.gradient-1:hover {
  background: linear-gradient(137deg, #C0F 8.29%, #F400F9 53.84%, #FF00D6 91.56%), #FFF;

  .text {
    @apply text-white;
  }
} 

.gradient-2:hover {
  background: linear-gradient(168deg, #FAFF00 -4.28%, #FFC700 20.52%, #FFA800 48.65%, #FFBD00 69.16%, #FFE500 91.1%);

  .text {
    @apply text-white;
  }
}

.gradient-3:hover {
  background: linear-gradient(205deg, #00F 8.73%, #00FFE5 84.25%), #FFF;
  .text {
    @apply text-white;
  }
}

.gradient-4:hover {
  background: linear-gradient(161deg, #FF007A 19.44%, #FF002E 87.12%);
  .text {
    @apply text-white;
  }
}

.gradient-5:hover {
  background: linear-gradient(180deg, #00FFD1 0%, #00C2FF 100%), #FFF;
  .text {
    @apply text-white;
  }
}

.gradinet-6:hover {
  background: linear-gradient(180deg, #00D9E6 0%, #00FFE5 100%);
  .text {
    @apply text-white;
  }
}

.gradient-7:hover {
  background: linear-gradient(180deg, #00F 7.38%, #6100FF 100%);
    .text {
    @apply text-white;
  }
}

.gradient-8:hover {
  background: linear-gradient(227deg, #9E00FF -13.24%, #F0F 81.5%), #FFF;
    .text {
    @apply text-white;
  }
}

.gradient-9:hover {
  background: linear-gradient(139deg, #F0F 5.71%, #FFB7FF 98.46%);
      .text {
    @apply text-white;
  }
}

.gradient-10:hover {
  background: linear-gradient(117deg, #FFE500 4.78%, #FFA800 88.28%), #FFF;
        .text {
    @apply text-white;
  }
}


.solution:hover {
  svg path {
    fill: white !important;
  }
}

