@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blog-posts-small {
        @apply flex-wrap md:no-flex-wrap;
    }
}

body .is-layout-flex {
    flex-wrap: wrap !important;
}

@media (min-width: 768px) {
    body .is-layout-flex {
        flex-wrap: nowrap !important;
    }
}

.wp-block-post-featured-image img {
    box-sizing: border-box;
    height: auto;
    max-width: max-content !important;
    vertical-align: bottom;
    width: 100%;
}

.alignwide-unset {
    margin-left: unset !important;
    margin-right: unset !important;
    margin-top: unset !important;
    margin-bottom: unset !important;
    max-width: inherit !important;
}

.single-post .entry-content {
    p {
        margin-bottom: 1.5em;
    }

    .wp-block-heading.custom-h2-class {
        @apply text-xl font-medium text-fuchsia-500;
    }
}

.wp-block-post-title {
    @apply text-xl md:text-3xl font-normal text-fuchsia-500;
}

.wp-block-post-excerpt {
    @apply text-sm md:text-base font-normal text-gray-500;
}

.wp-block-post-date {
    @apply text-sm md:text-base text-gray-500 font-light tracking-widest uppercase mt-3;
}