.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p,
    ul,
    ol {
        a {
            @apply text-magenta underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Primary Layout */
body .is-layout-flex {
    justify-content: center;
}

.entry-content {
    margin: 0;
}

/* Links */

a {
    @apply text-magenta;

    &:visited {
        @apply text-magenta;
    }

    &:hover {
        @apply text-purple-500;
    }
}

/* WP Forms Styles */
div.wpforms-container-full button[type=submit] {
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 18px;
    line-height: 1.5;
    height: auto;
    border: 0;
    box-shadow: none !important;
}

.wp-block-group div.wpforms-container-full {
    margin: 0;
}

/* Button Styles for WP Element Button and WPForms Submit */
.wp-element-button,
a.wp-element-button,
button.wpforms-submit {
    background: #DB00FF;
    color: #fff;
    position: relative;
    overflow: hidden;
}

/* Shine Effect for WP Element Button */
.cta .wp-element-button::before,
/* Shine Effect for WPForms Submit Button */
button.wpforms-submit::before {
    content: '';
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    top: -50px;
    left: -120%;
    width: 10%;
    height: 300%;
    transform: rotate(45deg);
    box-shadow: 0px 0px 5px 8px rgba(255, 255, 255, .10);
    animation: shine 4s ease-in-out infinite;
}

.cta .wp-element-button::after,
button.wpforms-submit::after {
    content: '\2728';
    display: inline-block;
    margin-left: 0.2rem;
}

@keyframes shine {
    to {
        left: 120%;
    }
}

/* Hover State Animation */
@keyframes shine-stop {
    to {
        left: calc(50% - 5%);
    }
}

/* Applying the hover effect to both WP Element Button and WPForms Submit */
.cta .wp-element-button:hover::before,
button.wpforms-submit:hover::before {
    animation: shine-stop 0.5s ease forwards;
}

.cta .wp-element-button:hover,
div.wpforms-container-full input[type=submit]:hover, div.wpforms-container-full input[type=submit]:active, div.wpforms-container-full button[type=submit]:hover, div.wpforms-container-full button[type=submit]:active, div.wpforms-container-full .wpforms-page-button:hover, div.wpforms-container-full .wpforms-page-button:active{
    background-color: #DB00FF !important; 
    background-image: none;
}

.wp-block-buttons>.wp-block-button,
button.wpforms-submit {
    height: max-content !important;
    box-shadow: 0 !important;
}
