.entry-content,
.block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p,
    ul,
    ol {
        a {
            @apply text-magenta underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Primary Layout */
body .is-layout-flex {
    justify-content: center;
}
.entry-content {
    margin: 0;
}

/* Links */

a {
    @apply text-magenta;

    &:visited {
        @apply text-magenta;
    }

    &:hover {
        @apply text-purple-500;
    }
}

/* WP Forms */

div.wpforms-container-full button[type=submit] {
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 18px;
    line-height: 1.5;
    height: auto;
}

.wp-block-group div.wpforms-container-full {
    margin: 0;
}