body {
    font-family: 'Rubik', sans-serif;
}

.block-editor-block-list__layout {
    h1 {
        @apply text-2xl font-medium;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p,
    ul,
    ol {
        a {
            @apply text-magenta underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.list) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol.list {
        li {
            @apply list-decimal list-inside;
            list-style-type: decimal !important;
        }
    }
}

/* Primary Layout */
body .is-layout-flex {
    justify-content: center;
    flex-wrap: nowrap;
}

.entry-content {
    margin: 0;
}

/* Links */

a {
    @apply text-magenta;

    &:visited {
        @apply text-magenta;
    }

    &:hover {
        @apply text-purple-500;
    }
}

.wp-block-media-text .wp-block-media-text__content {
    padding: 0 !important;
}

.block-editor-block-list__layout :not(.list-outside) ul li.list-none {
    list-style-type: none !important;
}

li.wp-block-post {
    ::marker {
        content: '';
    }
}

.block-editor-block-list__layout,
.wp-block-query { 
    ul li::marker {
    display: none;
}
}


.sparkle {
    opacity: 0;
    animation: none;
}

@keyframes sparkle {
    0% {
        transform: scale(1) translate(0);
        opacity: 0;
    }

    25% {
        transform: scale(1) translate(0);
        opacity: 1;
    }

    50% {
        transform: scale(1) translate(0);
        opacity: 0;
    }

    75% {
        transform: scale(1) translate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1) translate(0);
        opacity: 0;
    }
}

/* Big */
.sparkle-container:hover #sparkle1 {
    animation: sparkle 1s ease infinite;
}

/* Medium */
.sparkle-container:hover #sparkle2 {
    animation: sparkle 4s ease infinite;
}

/* Small */
.sparkle-container:hover #sparkle3 {
    animation: sparkle 1s ease infinite;
}

/* Big */
.sparkle-container:hover #sparkle4 {
    animation: sparkle 2s ease infinite;
}

/* Medium */
.sparkle-container:hover #sparkle5 {
    animation: sparkle 3s ease infinite;
}

/* Small */
.sparkle-container:hover #sparkle6 {
    animation: sparkle 2s ease infinite;
}

/* Big */
.sparkle-container:hover #sparkle7 {
    animation: sparkle 3s ease infinite;
}

/* Medium */
.sparkle-container:hover #sparkle8 {
    animation: sparkle 2s ease infinite;
}

/* Small */
.sparkle-container:hover #sparkle9 {
    animation: sparkle 3s ease infinite;
}

/* Big */
.sparkle-container:hover #sparkle10 {
    animation: sparkle 4s ease infinite;
}

/* Medium */
.sparkle-container:hover #sparkle11 {
    animation: sparkle 1s ease infinite;
}

/* Small */
.sparkle-container:hover #sparkle12 {
    animation: sparkle 4s ease infinite;
}

.list-outside li {
    list-style-position: outside !important;
    margin-left: 1.2rem;
    list-style: decimal;
}

.entry-content ul {
    margin-bottom: 1rem !important;

    li {
        list-style-type: disc;
        margin-left: 1rem;
    }
}

.wp-block-post-template li.wp-block-post {
    list-style-type: none;
}

::marker {
    @apply text-fuchsia-500 ml-4;
}
